---
import Layout from "@layouts/Layout.astro";
import heroImage from "../assets/hero.svg";
---

<Layout>
  <div class="container">
    <div class="hero">
      <p class="hero-text">
        <span class="hero-text-inner">まったりあそべる、<br /><span>Minecraft</span> サーバー。</span>
        <a class="hero-button">はじめる</a>
      </p>
      <div class="imageWrapper">
        <img src={heroImage.src} />
      </div>
    </div>
  </div>
  <!-- <div class="hero">
    <div class="hero-image-wrapper">
      <img src={heroImage.src} height="320" />
    </div>
  </div> -->
</Layout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #374151;
    /* font-size: 3.6rem; */
    font-size: 2.6rem;
    margin-block-start: 8rem;
    margin-inline-start: 3rem;
    /* text-align: center; */
    font-weight: 900;
    line-height: 1.6;
  }

  .hero-text-inner span {
    color: #7dae24;
  }

  .imageWrapper {
    overflow-x: hidden;
  }

  .hero-button {
    display: inline-block;
    background-color: #FFCA42;
    color: #374151;
    font-size: 1.8rem;
    border-radius: 999px;
    padding: 0.6em 2em;
    margin-block-start: 3rem;
  }

  img {
    display: block;
    width: 120%;
    max-width: 56rem;
    margin-inline-start: auto;
    margin-block-start: 6rem;
    transform: translateX(2rem);
  }

  .container {
    max-inline-size: 90rem;
    margin-inline: auto;
  }

  @media (min-width: 360px) {
    .hero-text {
      margin-inline-start: 4rem;
    }
  }

  @media (min-width: 520px) {
    img {
      width: 90%;
      transform: translateX(4rem);
    }
  }

  @media (min-width: 660px) {
    .container {
      transform: translateX(1rem);
    }

    .hero {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-block-size: min(calc(100vh - 68px), 360px);
    }

    .hero-text {
      flex: 1;
      margin-inline-start: 2rem;
      margin-block-start: 4rem;
      margin-block-end: 12rem;
      font-size: 2.8rem;
    }

    .imageWrapper {
      flex-basis: calc(min(100vw, 90rem) - 36rem + 9vw);
      margin-inline-start: -9vw;
    }

    img {
      width: 50rem;
      margin-inline-end: -3.2rem;
      margin-block-start: 1rem;
      transform: translate(0);
    }
  }

  @media (min-width: 800px) {
    .hero-text {
      margin-inline-start: 4rem;
    }
  }
</style>
