---
import Feature from "@components/Feature.astro";
import Layout from "@layouts/Layout.astro";
import logo from "../assets/logo.svg";
import hero from "../assets/hero.svg";
---

<Layout>
  <header>
    <img src={logo.src} class="logo" />
    <div class="search-bar">
      <i class="fa-solid fa-magnifying-glass" />
      <p class="search-placeholder">検索</p>
    </div>
    <ul class="menu">
      <li class="menu-item active">攻略ガイド</li>
      <li class="menu-item">Dynmap</li>
      <li class="menu-item">こた鯖に投票</li>
      <li class="menu-item-icon">
        <i aria-hidden="true" class="fa-brands fa-discord" />
        <span class="fa-sr-only">Discord</span>
      </li>
      <li class="menu-item-icon">
        <i aria-hidden="true" class="fa-brands fa-x-twitter" />
        <span class="fa-sr-only">X</span>
      </li>
    </ul>
  </header>
  <main>
    <h1 class="hero-text">
      <span>まったりあそべる、</span>
      <span><span class="text-green">Minecraft</span>サーバー。</span>
    </h1>
    <a href="#" class="join-button">参加する</a>
    <img src={hero.src} width={500} class="hero-image" />
    <section class="asobi-section">
      <h2>こた鯖でのあそび</h2>
      <div class="asobi-list">
        <Feature title="観光する" iconName="signs-post">
        </Feature>
        <Feature title="建築する" iconName="hammer" />
        <Feature title="ミニゲームであそぶ" iconName="gamepad" />
        <Feature title="イベントに参加する" />
      </div>
    </section>
  </main>
</Layout>

<style>
  header {
    display: flex;
    align-items: flex-end;
    padding: .4rem .8rem;
    border-bottom: 1px solid #eaeaea;
  }

  .search-bar {
    display: flex;
    align-items: center;
    inline-size: 24em;
    block-size: 2.32em;
    margin-inline-start: 2em;
    margin-block-end: .4rem;
    padding-inline-start: .8em;
    border: 1px solid #dadada;
    border-radius: 999px;
    background-color: #f2f2f2;
    color: #9a9ea3;
  }

  .search > i {
    transform: translateY(.1em);
  }

  .search-placeholder {
    margin-inline-start: .6em;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .menu {
    display: flex;
    margin-inline-start: auto;
    font-size: 1.4rem;
    font-weight: 900;
  }

  .menu-item {
    padding-inline: 1em;
  }

  .menu-item::after {
    content: '';
    display: block;
    block-size: .5rem;
    margin-block-start: .2rem;
    border-radius: .3rem .3rem 0 0;
    transform: translateY(.4rem);
  }

  .menu-item.active {
    color: #eaa800;
  }

  .menu-item.active::after {
    background-color: #ffca42;
  }

  .menu-item-icon {
    padding-inline: 1em;
    font-size: 1.6rem;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    margin-inline-start: 1em;
    margin-block-start: 10rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
  }

  .hero-text > span:last-child {
    margin-inline-start: .5em;
  }

  .text-green {
    color: #7ead24;
  }

  .join-button {
    display: block;
    min-inline-size: 10em;
    margin-block-start: 2em;
    padding: .5em 1em;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    border-radius: 999px;
    background-color: #ffca42;
  }

  .hero-image {
    margin-block-start: 2em;
  }

  section > h2 {
    margin-block-start: 4em;
    font-size: 2.4rem;
    font-weight: 900;
  }

  .asobi-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4em;
    inline-size: 96rem;
    padding-block: 64px;
  }

  .asobi-section {
    text-align: center;
  }
</style>
