---
import logo from '../assets/logo-outlined.svg'
import "destyle.css";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<title>{title ? `${title} | KotaServer` : "KotaServer"}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		font-size: 10px;
	}

	body {
	  color: #334155;
		font-family: "M PLUS 2", sans-serif;
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 1.8;
		background-color: #fcd34d;
	}

	.header {
		display: flex;
		justify-content: flex-start;
		padding-block-start: 3rem;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 1rem;
		max-inline-size: 90rem;
		margin-inline: auto;
	}

	.logo {
		display: block;
		width: 24rem;
	}

	.drawerButton {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.6rem;
		inline-size: 2.4rem;
		block-size: 2.8rem;
		margin-block-end: 0.4rem;
		margin-inline-end: 1rem;
	}

	.drawerButton > span {
		display: block;
		block-size: 0.5rem;
		background-color: #334155;
		border-radius: 999px;
	}

	.container {
		display: flex;
		justify-content: center;
	}

	.main {
		max-inline-size: 198rem;
	}

	@media (min-width: 660px) {
		header {
			padding-inline-end: 1rem;
		}
	}
</style>
